@import '../../../styles/shared/var.scss';

.bettingboard_container {

    .table-container{
        width: 100%;
        border-collapse: collapse;

        thead{
            background: linear-gradient(189.11deg, rgba(71, 117, 169, 0.16) -3.79%, rgba(255, 255, 255, 0) 154.46%);

            th{
                padding: 10px 13px 5px;

                p{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 12.25px;
                    color: var(--text-color);
                }
            }
        }

        tbody{

            td{
                padding: 10px 15px 5px;
                border: 1px solid #eee;
                text-align: center;

                p{
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 10.5px;
                    color: var(--text-color);
                }

                &:nth-child(1){
                    text-align: right;
                }
            
                &:nth-child(even){
                    background: #6CB7F012;
                }

            }

            .profile{
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 5px;
                min-width: 100px;
                
                .profileImage{
                    position: relative;
                    width: 29px;
                    height: 29px;
                    border-radius: 50%;
                    border: 1px solid #145E94;
                    padding: 1px;

                    .photo{
                        width: 100%;
                        display: block;
                    }

                    .country{
                        position: absolute;
                        display: block;
                        width: 14px;
                        height: auto;
                        bottom: 0;
                        right: 0;
                    }
                }

                .profileName{
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 10.5px;
                }
            }
        }
    }   

}