@import "../../../styles/shared/var.scss";

.enrollment {
  padding: 20px 20px 60px;
  .enrollment_head {
    // width: 390px;
    height: auto;
    box-sizing: border-box;

    .head_body {
      // margin-top: 24px;
      border-bottom: 1px solid var(--content-border);
      @include weight_height(100%, auto);
      @include content_padd(0px, 0, 13px, 0);
      // @include weight_height(fill, auto);
      @include item_flex(flex, row, center, normal, 16px);

      span.dtae_hour {
        // border: 1px solid var(--content-border);
        // border-radius: 48px;
        // background: var(--item-bg);
        // @include weight_height(182px, auto);
        // @include content_padd(8px, 12px, 8px, 20px);
        @include item_flex(flex, row, center, space-between, 10px);
        width: 100%;

        select {
          border: 1px solid var(--content-border);
          border-radius: 25px;
          color: var(--text-color);
          background: var(--item-bg);
          @include weight_height(100px, auto);
          @include content_padd(10px, 12px, 10px, 12px);
          @include fix-font(12px, 400, 10px);
        }

        button{
          background-color: transparent;
          cursor: pointer;
          border: 0;
          color: #3498db;
          @include fix-font(12px, 400, 10px);
        }
      }

      svg {
        path {
          fill: var(--item-color);
        }
      }
    }

    .head_body_bottom {
      @include content_padd(13px, 0, 0px, 0);
      @include item_flex(flex, row, center, normal, 8px);

      .d_games {
        border-radius: 26px;
        background: var(--item-bg);
        padding: 12px;
        @include fix-font(14px, 400, 12.25px);
        @include item_flex(flex, row, center, center, 0px);
      }

      .s_games {
        border-radius: 26px;
        border: 1px solid var(--content-border);
        background: var(--item-bg);
        padding: 12px;
        color: var(--text-grey);
        @include fix-font(14px, 400, 12.25px);
        @include item_flex(flex, row, center, center, 0px);
        text-decoration: none;
      }

      .active{
        border: 1px solid #03506f;
        color: #03506f;
      }
    }
  }

  .enrollment_container {
    // @include weight_height(360px, auto);
    margin: 20px auto;
    box-sizing: border-box;
    background: var(--item-bg);

    .container_heading {
      border: 1px solid var(--content-border);
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      background: var(--item-bg);
      @include weight_height(100%, auto);
      @include content_padd(13px, 12px, 12px, 12px);
      @include item_flex(flex, column, flex-start, normal, 8px);

      .container_top_head {
        @include weight_height(100%, auto);
        @include item_flex(flex, row, center, space-between, 0px);

        p {
          color: var(--item-color);
          @include fix-font(16px, 400, 14px);
        }
        svg {
          path {
            fill: var(--item-color);
          }
        }
      }

      .container_bottom_head {
        @include weight_height(100%, auto);
        @include item_flex(flex, row, center, normal, 9px);

        ._calender {
          @include item_flex(flex, row, center, normal, 5px);

          p {
            color: var(--text-grey);
            @include fix-font(14px, 400, 12.25px);
          }
          svg {
            path {
              fill: var(--item-color);
              stroke: var(--item-color);
            }
          }
        }

        ._time {
          @include item_flex(flex, row, center, normal, 4px);

          p {
            color: var(--text-grey);
            @include fix-font(14px, 400px, 12.25px);
          }
          svg {
            path {
              fill: var(--item-color);
            }
          }
        }

        ._comment {
          @include item_flex(flex, row, center, normal, 4px);

          p {
            color: var(--text-grey);
            @include fix-font(14px, 400px, 12.25px);
          }
          svg {
            path {
              stroke: var(--item-color);
            }
          }
        }
      }
    }

    .doublegames_body {
      border-left: 1px solid var(--content-border);
      border-right: 1px solid var(--content-border);
      background: var(--item-bg);
      @include content_padd(15px, 16px, 15px, 16px);
      @include item_flex(flex, row-reverse, center, space-around, 0px);

      .current_player {
        @include item_flex(flex, row-reverse, center, center, 8px);

        .doubleOne {
          @include item_flex(flex, column, center, center, 8px);

          span {
            position: relative;
            width: 57px;
            height: 57px;
            border: 1px solid var(--item-color);
            border-radius: 50%;
            padding: 2px;
            display: block;

            :first-child {
              object-fit: cover;
              background: var(--item-bg);
              // border: 1px solid var(--item-color);
              @include weight_height(100%, auto);
              display: block;
              border-radius: 50%;
            }

            :last-child {
              position: absolute;
              bottom: 0;
              right: 0;
              border-radius: 2px;
              @include weight_height(19px, auto);
            }
          }

          ._name {
            color: var(--text-color);
            @include fix-font(14px, 400, 12.25px);
          }

          ._rank {
            color: var(--text-grey);
            @include fix-font(12px, 400, 10.5px);
          }
        }

        .doubleTwo {
          @include item_flex(flex, column, center, center, 8px);

          span {
            position: relative;
            width: 57px;
            height: 57px;
            border: 1px solid var(--item-color);
            border-radius: 50%;
            padding: 2px;
            display: block;

            :first-child {
              object-fit: cover;
              background: var(--item-bg);
              // border: 1px solid var(--item-color);
              @include weight_height(100%, auto);
              display: block;
              border-radius: 50%;
            }

            :last-child {
              position: absolute;
              bottom: 0;
              right: 0;
              border-radius: 2px;
              @include weight_height(19px, auto);
            }
          }
          ._name {
            color: var(--text-color);
            @include fix-font(14px, 400px, 12.25px);
          }

          ._rank {
            color: var(--text-grey);
            @include fix-font(12px, 400px, 10.5px);
          }
        }
      }

      span {
        position: relative;

        p {
          position: absolute;
          top: -26px;
          left: -16px;
          color: var(--item-color);
          @include fix-font(21px, 400, 18.38px);
        }
      }

      .add_player {
        @include item_flex(flex, row, center, center, 8px);

        ._add {
          @include item_flex(flex, column, center, center, 8px);

          span {
            padding: 2px;
            object-fit: cover;
            border-radius: 50%;
            background: var(--item-bg);
            border: 1px dotted var(--item-color);
            @include weight_height(51.57px, 51.57px);
            @include weight_height(51.57px, 51.57px);
            @include item_flex(flex, column, center, center, 0px);
          }

          ._name {
            color: var(--text-color);
            @include fix-font(14px, 400px, 12.25px);
          }

          ._rank {
            color: var(--text-grey);
            @include fix-font(12px, 400px, 10.5px);
          }
        }
      }
    }

    .doublegames{
      flex-direction: row-reverse !important;
    }

    .container_footer {
      border: 1px solid var(--content-border);
      // padding-left: 20px;
      background: var(--item-bg);
      border-radius: 0 0 8px 8px;
      overflow: hidden;
      // border-bottom-left-radius: 8px;
      // border-bottom-right-radius: 8px;
      @include item_flex(flex, row, center, space-between, 0px);

      ._item {
        @include item_flex(flex, column, flex-start, normal, 4px);
        padding-right: 16px;

        .precipitation {
          @include item_flex(flex, row, center, normal, 4px);

          p {
            color: var(--text-grey);
            @include fix-font(14px, 400, 12.25px);
          }
          svg {
            path {
              fill: var(--item-color);
            }
          }
        }

        .weather {
          @include item_flex(flex, row, center, normal, 4px);

          p {
            color: var(--text-grey);
            @include fix-font(14px, 400, 12.25px);
          }
          svg {
            path {
              fill: var(--item-color);
            }
          }
        }
      }

      .butn_ne {
        background: linear-gradient(90deg,#34506d,#3498db);
        border: none;
        color: #fff;
        width: 140px;
        height: 52px;
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        padding: 12px;
        cursor: pointer;
        text-decoration: none;
        display: block;
        text-align: center;
      }
    }
  }
}
