@import '../../styles/shared/var.scss';

.propyl_container {
    
    .cover_container {
        position: relative;

        .cover_img {
            object-fit: cover;
            @include weight_height(100%, 201px);
        }

        .logo_go {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            padding: 26px 20px 12px;
            height: 100%;
            margin: auto;
            @include item_flex(flex, column, flex-end, space-between, 0px);

            .cover_head{
                @include item_flex(flex, row, center, space-between, 0px);
                width: 100%;
            }
        }
    }
}