@import '../../styles/shared/var.scss';

.propyl_container {
    
    .cover_container {
        position: relative;

        .cover_img {
            object-fit: cover;
            @include weight_height(100%, 217px);
            display: block;
        }

        .logo_go {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            padding: 26px 20px;
            height: 100%;
            margin: auto;
            @include item_flex(flex, column, flex-start, space-between, 0px);

            .cover_head{
                @include item_flex(flex, row, center, space-between, 0px);
                width: 100%;
            }
        }
    }

    .my_account {
        margin-top: -14px;
        background: #FCFAFA;
        position: relative;
        border-radius: 25px 25px 0 0;
        @include item_flex(flex, column, center, center, 20px);
        
        .my_profile {
            @include weight_height(100%, auto);

            .main_profile {
                @include item_flex(flex, row, center, center, 0);
                position: relative;
    
                .profile_img {
                    position: relative;
                    border: 7px solid #FCFCFC;
                    @include weight_height(125px, 125px);
                    border-radius: 50%;
                    margin-top: -65px;
                    margin-bottom: 8px;

                        .profile_img_m {
                        object-fit: cover;
                        width: 100%;
                    }
    
                    .add_profile {
                        position: absolute;
                        top: 0;
                        right: 0;
                        border-radius: 50%;
                        border: 1px solid #000000;
                        background: #FCFCFC;
                        @include weight_height(28px, 28px);
                        @include item_flex(flex, row, center, center, 0px);
    
                        img {
                            @include weight_height(15px, 12.86px);
                        }
                    }
    
                    .add_toffe {
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        border-radius: 50%;
                        border: 1px solid #EEEEEE;
                        background: #FCFCFC;
                        @include weight_height(32px, 32px);
                        @include item_flex(flex, column, center, center, 0px);
    
                        img {
                            @include weight_height(20px, 20px);
                        }
                    }
    
                    .change_country {
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
    
                        img {
                            object-fit: fill;
                            border-radius: 4px;
                            @include weight_height(38px, 28px);
                        }
                    }
                }
    
                .cash {
                    @include item_flex(flex, row, center, normal, 4px);
                    position: absolute;
                    left: 24px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
    
                    p {
                        color: var(--text-color);
                        @include fix-font(18px, 400, 15.75px);
                    }
    
                    svg {
                        path {
                            stroke: var(--text-color);
                        }
                    }
                }

            }

            .lavel_name {
                @include item_flex(flex, column, center, normal, 5px);

                p {
                    color: var(--text-color);
                    @include fix-font(18px, 400, 15.75px);
                }

                .container {
                    max-width: 285px;
                    padding-bottom: 20px;

                    ._flex {
                        p {
                            color: var(--text-grey);
                            @include fix-font(14px, 400, 12.25px);
                        }
                    }

                    .bar{
                        direction: ltr;
                    }
                }
            }
        }

        .rating_container{
            margin: 0 20px;
            border: 1px solid #ddd;
            border-radius: 12px;
            background: #fff;
            padding: 12px 6px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0;
            flex-direction: row-reverse;
            width: 100%;
            max-width: calc(100% - 40px);

            div{
                border-left: 1px solid #eee;
                padding: 12px 15px;
                text-align: center;

                h5{
                    font-size: 14px;
                    line-height: 12.25px;
                    font-weight: 400;
                    color: #145E94;
                    padding-bottom: 12px;
                }

                p{
                    font-size: 16px;
                    line-height: 14px;
                    color: #210C0C;
                    font-weight: 500;
                }

                &:first-child{
                    border-left: 0;
                }
            }

        }

        .weekly_achievements_content {
            margin: 0 20px;
            border: 1px solid #ddd;
            border-radius: 12px;
            background: #fff;
            padding: 12px 28px 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            flex-direction: column;
            width: 100%;
            max-width: calc(100% - 40px);

            h4{
                @include fix-font(16px, 400, 14px);
                text-align: center;
                color: #000000;
                padding-bottom: 8px;
                border-bottom: 1px solid lightgray;
            }

            .body{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                width: 100%;
                flex-direction: row-reverse;

                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                    width: 100%;
                    flex-direction: column;

                    p{
                        @include fix-font(12px, 400, 10.5px); 
                        color: #210C0C;
                    }

                    span{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 7px;
                        width: 100%;
                        flex-direction: row-reverse;

                        p{
                            color: #B0AAAA;
                        }
                    }

                }
            }
        }

        .profiles_bodys{
            margin: 0 20px;
            border: 1px solid #ddd;
            border-radius: 12px;
            background: #fff;
            padding: 10px 25px;
            width: 100%;
            max-width: calc(100% - 40px);

            .body_content{

                .content{
                    padding: 11px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid lightgray;

                    .itemName{
                        @include fix-font(16px, 400, 14px); 
                        color: #000000;
                    }

                    .itemvalue{
                        @include fix-font(16px, 400, 14px); 
                        color: #145E94;
                    }

                    &:last-child{
                        border-bottom: 0;
                    }
                }
            }
        }

        .award_blocks{
            margin: 0 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background: #fff;
            width: 100%;
            max-width: calc(100% - 40px);

            .headpart{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 20px 25px;
                cursor: pointer;
                position: relative;
                z-index: 99;

                p{
                    @include fix-font(16px, 400, 14px); 
                    color: #000000;
                }

                svg{
                    transition: transform ease-in-out 0.5s;
                }
            }

            .expanded{

                svg{
                    transform: rotate(180deg);
                }
            }

            .headbody{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 18px;
                flex-direction: column;
                width: 100%;
                padding: 0 25px;

                .content{
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 13px;

                    p{
                        @include fix-font(14px, 400, 12.25px);
                        color: #B0AAAA;
                    }

                    img{
                        filter: grayscale(100%);
                    }

                    &:first-child {

                        p{
                            color: #000000;
                        }

                        img{
                            filter: grayscale(0%);
                        }
                    }

                    &:last-child{
                        padding-bottom: 25px;
                    }
                }
            }

            .closed{
                max-height: 0;
                opacity: 0;
                transition: max-height ease-in-out 0.5s;
            }

            .open {
                max-height: auto; 
                opacity: 1;
            }
        }

        .statics_blocks{
            margin: 0 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background: #fff;
            width: 100%;
            max-width: calc(100% - 40px);

            .statheadpart{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 20px 25px;
                cursor: pointer;
                position: relative;
                z-index: 99;

                p{
                    @include fix-font(16px, 400, 14px); 
                    color: #000000;
                }

                svg{
                    transition: transform ease-in-out 0.5s;
                }
            }

            .expanded{

                svg{
                    transform: rotate(180deg);
                }
            }

            .statheadbody{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                padding: 0 25px;

                .table-container {
                    width: 100%;
                    border-collapse: collapse;
                    margin-bottom: 25px;

                    thead {
                        background: linear-gradient(189.11deg,rgba(71,117,169,.16) -3.79%,hsla(0,0%,100%,0) 154.46%);

                        th {
                            padding: 10px 13px 5px;
                        }
                    }

                    tbody{
                        td {
                            padding: 10px 5px 5px;
                            border: 1px solid #eee;
                            text-align: center;

                            p {
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 10.5px;
                            }

                            &:nth-child(1){
                                text-align: right;
                            }
                        
                            &:nth-child(even){
                                background: #6CB7F012;
                            }
                        }

                        .profile {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            gap: 5px;

                            .profileImage {
                                position: relative;
                                width: 29px;
                                height: 29px;
                                border-radius: 50%;
                                border: 1px solid #145e94;
                                padding: 1px;

                                .photo {
                                    width: 100%;
                                    display: block;
                                }

                                .country {
                                    position: absolute;
                                    display: block;
                                    width: 14px;
                                    height: auto;
                                    bottom: 0;
                                    right: 0;
                                }
                            }

                            .profileName {
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 10.5px;
                            }
                        }
                    }
                }
            }

            .closed{
                max-height: 0;
                opacity: 0;
                transition: max-height ease-in-out 0.5s;
            }

            .open {
                max-height: auto; 
                opacity: 1;
            }
        }

        .profileCommon{
            margin: 0 20px;
            width: 100%;
            max-width: calc(100% - 40px);
            display: flex;
            justify-content: flex-start;
            align-items: normal;
            gap: 12px;
            flex-direction: column;

            h2{
                @include fix-font(18px, 400, 15.75px); 
                color: #000000;
            }

            .itemlist{
                display: flex;
                justify-content: start;
                align-items: center;
                flex-direction: row;
                gap: 15px;
                overflow-x: auto;
                overflow-y: hidden;
                white-space: nowrap;
                scrollbar-width: none;
                -ms-overflow-style: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                .opponent_body{
                    border: 1px solid lightgray;
                    border-radius: 8px;
                    position: relative;
                    overflow: hidden;
                    min-width: 148px;

                    img{
                        display: block;
                    }

                    .profileCountry{
                        position: absolute;
                        top: 7px;
                        left: 7px;
                        max-width: 30px;
                    }
                }

                .bodyInfo{
                    padding: 9px 9px 9px 10px;
                    position: absolute;
                    bottom: 0;
                    background: #fff;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: normal;
                    gap: 5px;

                    .profilePName{
                        @include fix-font(14px, 400, 12.25px);
                        color: #000000; 

                        span{
                            color: #B0AAAA;
                        }
                    }

                    .profilePsta{
                        @include fix-font(14px, 400, 12.25px);
                        color: #B0AAAA; 
                    }
                }
            }

        }

        .profileCommonO{
            margin: 0 20px;
            width: 100%;
            max-width: calc(100% - 40px);
            display: flex;
            justify-content: flex-start;
            align-items: normal;
            gap: 12px;
            flex-direction: column;

            h2{
                @include fix-font(18px, 400, 15.75px); 
                color: #000000;
            }

            .itemlist{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                gap: 25px;
                overflow-x: auto;
                overflow-y: hidden;
                white-space: nowrap;
                scrollbar-width: none;
                -ms-overflow-style: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                .opponent_body{
                    min-width: 275px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 14px;
                    background-color: #fff;

                    .headInfop {
                        position: relative;
                        width: 95px;
                        height: 95px;

                        .profilePlay{
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
    
                        .profileCountry{
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            max-width: 30px;
                        }
                    }

                    .bodyInfo{
                        background: #fff;
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-items: normal;
                        gap: 7px;
                        min-width: 150px;
                        padding: 12px 17px;
   
                        .profilePName{
                            @include fix-font(16px, 400, 14px);
                            color: #000000; 
    
                            span{
                                color: #B0AAAA;
                            }
                        }
    
                        .profilePsta{
                            @include fix-font(14px, 400, 12.25px);
                            color: #B0AAAA; 
                        }
                    }
                }

            }

        }

    }
}