@import "../../../styles/shared/score/var.scss";

// START SCSS.
.main_score_content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 360px;
  margin: auto;
  height: auto;
  margin-bottom: 12px;
  box-sizing: border-box;

  .live_head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: sticky;
    top: 36px;
    z-index: 9;
    padding-top: 24px;
    padding-bottom: 8px;
    background-color: var(--bg-color);

    .score_player_available {
      max-width: 350px;
      display: flex;
      gap: 8px;
      flex-direction: row;
      align-items: center;
      // @include flex_row(8px);
      overflow: hidden;
      overflow-x: scroll;

      .player_available {
        button {
          border: 1px solid #b0aaaa;
          border-radius: 24px;
          text-align: center;
          width: 70px;
          @include padd_(10px, 0px, 10px, 0px);
          color: var(--text-color);
          @include score_font(14px, 400, 16px);
          background: transparent;
          cursor: pointer;
        }

        ._selected {
          background: linear-gradient(to right, #3498db, #34506d);
          border: 1px solid #235982;
          // border-image: linear-gradient(to right, #3450, #3498db);
          border-radius: 24px;
          text-align: center;
          width: 70px;
          @include padd_(10px, 0px, 10px, 0px);
          color: white;
          @include score_font(14px, 400, 16px);
          cursor: pointer;
          transition: all 0.3s ease;
        }
      }

      ._bord_no {
        display: flex;
        flex-direction: column;
        align-items: center;

        .select {
          width: 0px;
          height: 0px;
        }
      }
    }

    ._game_list {
      @include flex_row(8px);

      .game_sm_playlist {
        background: var(--gray-200);
        border-radius: 24px;
        border: none;

        p {
          color: var(--text-color);
          @include flex_row(0px);
          @include score_font(12px, 300, 16px);
          cursor: pointer;

          ._all {
            background: $blue_;
            border-radius: 24px;
            color: white;
            border: none;
            width: 60px;
            padding: 10px 0;
            text-align: center;
            transition: all 0.3s ease;
          }
          ._live {
            width: 60px;
            padding: 10px 0;
            text-align: center;
            // @include padd_(10px, 0px, 10px, 0px);
          }
        }

        .double {
          width: 75px !important;
          padding-right: 10px;
        }
        // .padding-left {
        //   padding-left: 15px !important;
        // }
      }

      .game_lg_playlist {
        background: var(--gray-200);
        border-radius: 24px;
        border: none;

        p {
          color: var(--text-color);
          @include flex_row(0px);
          @include score_font(12px, 300, 16px);
          cursor: pointer;

          ._all {
            background: $blue_;
            border-radius: 24px;
            color: white;
            border: none;
            width: 60px;
            padding: 10px 0;
            text-align: center;
            transition: all 0.3s ease;
          }
          ._live {
            width: 60px;
            padding: 10px 0;
            text-align: center;
            // @include padd_(10px, 0px, 10px, 0px);
          }
        }

        .double {
          width: 75px !important;
          padding-right: 10px;
        }
        // .padding-left {
        //   padding-left: 15px !important;
        // }
      }
    }
  }

  .tennis_stream {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 10px;
    transition: all 1s ease;

    div {
      h4 {
        font-weight: 300;
      }
    }

    .stream_ {
      background: var(--gray-100);
      border-radius: 10px;
      height: 115px;

      .heading_stream {
        h1 {
          color: var(--text-color);
          margin-bottom: 0px;
          @include score_font(18px, 500, 20px);
        }
      }

      ._stream {
        @include flex_row(0px);

        .stream_head {
          @include flex_row(0px);
          justify-content: space-between;
          @include padd_(8px, 12px, 8px, 12px);
          background: $red_color;
          border: none;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
          width: 100%;
          height: auto;
          z-index: 1;

          p {
            color: var(--text-color);
            @include flex_row(8px);
            @include score_font(12px, 500, 16px);

            ._live {
              color: var(--text-color);
              @include flex_row(3px);
              @include score_font(12px, 500, 16px);
            }

            ._live_item {
              color: var(--text-color);
              @include flex_row(12px);
              @include score_font(12px, 300, 16px);
            }

            span {
              color: var(--text-color);
              @include score_font(12px, 300, 16px);
            }
          }
        }
        .live_stream {
          background-color: red !important;
          p {
            span {
              color: white !important;
            }
          }
        }
      }

      ._live_playing {
        @include flex_row(0px);
        justify-content: space-between;
        padding: 8px 12px;

        .live-score {
          display: flex;
          align-items: center;
          gap: 14px;
          color: var(--text-color);
          font-size: 12px;

          .set-value {
            opacity: 0.7;
          }
          .score-value {
            background-color: var(--gray-500);
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            font-size: 10px;
            align-items: center;
            padding: 2px;
          }
        }

        ._profile {
          @include flex_row(10px);

          .profile_img {
            .im_con {
              position: relative;
              @include flex_row(0px);

              .side {
                margin-left: -2px;
              }
            }
          }

          .im_con {
            position: relative;
            @include flex_row(4px);

            .pro_img {
              @include flex_row(0px);
              position: relative;
              img {
                width: 20px;
                height: 20px;
                border-radius: 50%;
              }

              .flag {
                position: absolute;
                bottom: -2px;
                right: 0px;
                width: 10px;
                height: 8px;
                border-radius: 1px !important;
              }
            }

            span.con_svg {
              position: absolute;
              bottom: -3px;
              left: 10px;
            }
          }

          .nam_turn {
            p {
              color: var(--text-color);
              @include score_font(12px, 300, 12px);
            }
            .ball-serve {
              display: none;
            }
            .ball-serve-active {
              display: inline;
            }
            svg {
              fill: var(--text-color);
            }

            .serve {
              svg {
                stroke: var(--text-color);
              }

              @keyframes blink-animation {
                0% {
                  opacity: 1;
                }
                50% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                }
              }

              .ball-serve-active {
                animation: blink-animation 2s infinite;
              }
            }

            @include flex_row(8px);
          }
        }

        .round_socre {
          @include flex_row(4px);

          ._active {
            color: var(--text-color);
            font-weight: 400;
          }
          ._disable {
            color: var(--text-color);
            opacity: 0.6;
          }

          p {
            @include score_font(12px, 300, 12px);
          }

          ._round {
            color: #706d7c;
            // padding: 6px 0px;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          ._score {
            background: #706d7c;
            color: var(--text-color);
            padding: 6px 10px;
          }
        }

        ._head_c {
          // background: #6b6b6b;
        }
      }

      .border_top {
        border-top: 1px solid $dark_gray;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
      }
    }

    ._head_c {
      ._stream {
        .stream_head {
          background: #6b6b6b;
        }
      }
    }

    ._head_c_d {
      ._stream {
        .stream_head {
          // background: $dark_gray;
          background: var(--gray-200);
        }
      }

      ._live_playing {
        ._profile {
          .nam_turn {
            span {
              display: flex;
              flex-direction: row;
              align-items: center;
            }
          }

          ._disable {
            opacity: 0.9;
          }
        }

        ._square {
          position: relative;

          ._square_s {
            position: absolute;
            top: 0px;
            right: 2px;
            @include score_font(9px, 400, 12px);
          }
        }

        ._round {
          padding: 0;
          span._match {
            color: white;
          }
        }

        ._active {
          color: var(--text-color);
          font-weight: 400;
        }
        ._disable {
          color: var(--text-color);
          opacity: 0.6;
        }
      }
    }
  }
}
