@import "../../../styles/shared/var.scss";

.enrollment_head {
  // width: 390px;
  height: auto;
  box-sizing: border-box;

  .head_body {
    margin-top: 24px;
    border-bottom: 1px solid #eeeeee;
    @include weight_height(fill, auto);
    @include content_padd(0px, 20px, 13px, 20px);
    @include weight_height(fill, auto);
    @include item_flex(flex, row, center, normal, 8px);

    span.dtae_hour {
      border: 1px solid #eeeeee;
      border-radius: 48px;
      background: var(--color-light);
      @include weight_height(182px, auto);
      @include content_padd(8px, 12px, 8px, 20px);
      @include item_flex(flex, row, center, space-between, 0px);

      p {
        color: var(--text-color);
        @include fix-font(14px, 400, 12.25px);
      }
    }
  }

  .head_body_bottom {
    a {
      text-decoration: none;
    }

    @include content_padd(13px, 20px, 0px, 20px);
    @include item_flex(flex, row, center, normal, 8px);

    .d_games {
      border-radius: 26px;
      border: 1px solid #03506f;
      background: var(--item-bg);
      padding: 12px;
      color: var(--text-color);
      @include fix-font(14px, 400, 12.25px);
      @include item_flex(flex, row, center, center, 0px);
    }

    .s_games {
      border-radius: 26px;
      border: 1px solid var(--content-border);
      background: var(--item-bg);
      padding: 12px;
      color: var(--text-grey);
      @include fix-font(14px, 400, 12.25px);
      @include item_flex(flex, row, center, center, 0px);
    }
  }
}

.enrollment_container {
  @include weight_height(360px, auto);
  margin: 16px auto;
  box-sizing: border-box;

  .container_heading {
    border: 1px solid var(--content-border);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: var(--item-bg);
    @include weight_height(fill, auto);
    @include content_padd(16px, 12px, 12px, 20px);
    @include item_flex(flex, column, flex-start, normal, 8px);

    .container_top_head {
      @include weight_height(fill, auto);
      @include item_flex(flex, row, center, space-between, 0px);
      svg {
        path {
          fill: var(--item-color);
        }
      }

      p {
        color: var(--item-color);
        @include fix-font(16px, 400px, 14px);
      }
    }

    .container_bottom_head {
      @include weight_height(fill, auto);
      @include item_flex(flex, row, center, normal, 12px);

      ._calender {
        @include item_flex(flex, row, center, normal, 4px);

        p {
          color: var(--text-grey);
          @include fix-font(14px, 400px, 12.25px);
        }
        svg {
          path {
            fill: var(--item-color);
            stroke: var(--item-color);
          }
        }
      }

      ._time {
        @include item_flex(flex, row, center, normal, 4px);

        p {
          color: var(--text-grey);
          @include fix-font(14px, 400px, 12.25px);
        }
        svg {
          path {
            fill: var(--item-color);
          }
        }
      }

      ._comment {
        @include item_flex(flex, row, center, normal, 4px);

        p {
          color: var(--text-grey);
          @include fix-font(14px, 400px, 12.25px);
        }
        svg {
          path {
            stroke: var(--item-color);
          }
        }
      }
    }
  }

  .container_body {
    border-left: 1px solid var(--content-border);
    border-right: 1px solid var(--content-border);
    background: var(--item-bg);

    @include content_padd(16px, 8px, 14px, 8px);
    @include item_flex(flex, column, center, space-between, 12px);
    display: block !important;

    .container_head_body {
      @include weight_height(fill, auto);
      .everything_main_body {
        border-radius: 8px;
        background: var(--item-bg);

        @include weight_height(fill, auto);
        @include item_flex(flex, row, center, space-between, 0px);

        .f_team {
          @include item_flex(flex, row, center, normal, 0px);

          ._player {
            @include item_flex(flex, column, center, normal, 4px);
            span {
              position: relative;
              :first-child {
                padding: 2px;
                object-fit: cover;
                border-radius: 50%;
                border: 1px solid var(--item-color);
                @include weight_height(53px, 53px);
              }
              :nth-child(2) {
                position: absolute;
                bottom: 4px;
                right: 8px;
                border-radius: 2px;
                @include weight_height(21px, 15.89px);
              }
            }
            ._name {
              color: var(--text-color);
              @include fix-font(14px, 400, 12.25px);
            }

            ._ranking {
              color: var(--text-grey);
              @include fix-font(12px, 500, 10.5px);
            }
          }
        }

        .team_score {
          position: relative;
          p {
            position: absolute;
            top: -24px;
            left: -11px;
            @include fix-font(21px, 400, 18.38px);
            color: var(--item-color);
          }
        }

        .s_team {
          @include item_flex(flex, row, center, normal, 0px);

          ._player {
            @include item_flex(flex, column, center, normal, 4px);

            ._win {
              span {
                position: relative;
                :first-child {
                  padding: 2px;
                  object-fit: cover;
                  border-radius: 50%;
                  border: 1px solid var(--item-color);
                  @include weight_height(53px, 53px);
                }
                :nth-child(2) {
                  position: absolute;
                  bottom: 4px;
                  right: 8px;
                  border-radius: 2px;
                  @include weight_height(21px, 15.89px);
                }
                :last-child {
                  position: absolute;
                  top: -48px;
                  right: 2px;
                  border-radius: 2px;
                  @include weight_height(21px, 15.89px);
                }
              }
            }

            ._name {
              color: var(--text-color);
              @include item_flex(flex, row, center, normal, 4px);
              @include fix-font(14px, 400, 12.25px);
            }

            ._ranking {
              color: var(--text-grey);
              @include fix-font(12px, 500, 10.5px);
            }
          }
        }
      }
      .solo {
        border-radius: 8px;
        background: var(--item-bg);
        @include weight_height(fill, auto);
        @include item_flex(flex, row, center, space-around, 0px);
      }
    }
    .container_bottom_body {
      @include item_flex(flex, row, center, space-between, 12px);
      padding-top: 12px;

      .f_team {
        border: 1px solid var(--content-border);
        border-radius: 8px;
        background: var(--item-bg);
        @include content_padd(0px, 0px, 0px, 8px);
        @include weight_height(128px, 25px);
        @include item_flex(flex, row, center, space-between, 0px);

        .score {
          border: 1px solid var(--content-border);
          border-bottom-left-radius: 8px;
          border-top-left-radius: 8px;
          background: var(--item-bg);
          color: var(--text-grey);
          @include item_flex(flex, column, center, center, 0px);
          @include content_padd(0px, 0px, 0px, 0px);
          @include weight_height(28px, 25px);
          @include fix-font(14px, 400, 12.25px);
        }

        .bet {
          color: var(--text-color);
          @include fix-font(14px, 400, 12.25px);
        }
      }
      .bet_icon {
        svg {
          path {
            fill: var(--item-color);
          }
        }
      }
      .s_team {
        border: 1px solid var(--content-border);
        border-radius: 8px;
        background: var(--item-bg);
        @include content_padd(0px, 0px, 0px, 8px);
        @include weight_height(128px, 25px);
        @include item_flex(flex, row, center, space-between, 0px);

        .score {
          border: 1px solid var(--content-border);
          border-bottom-left-radius: 8px;
          border-top-left-radius: 8px;
          background: var(--item-bg);
          color: var(--text-grey);
          @include item_flex(flex, column, center, center, 0px);
          @include content_padd(0px, 0px, 0px, 0px);
          @include weight_height(28px, 25px);
          @include fix-font(14px, 400, 12.25px);
        }

        .bet {
          color: var(--text-color);
          @include fix-font(14px, 400, 12.25px);
        }
      }
    }

    .space_around {
      @include weight_height(fill, auto);
      @include item_flex(flex, row, center, space-around, 0px);
    }
  }

  .container_footer {
    border: 1px solid var(--content-border);
    background: var(--item-bg);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    @include content_padd(12px, 12px, 12px, 12px);
    @include item_flex(flex, row, center, space-between, 0px);

    ._item {
      @include item_flex(flex, column, flex-start, normal, 4px);

      .precipitation {
        @include item_flex(flex, row, center, normal, 4px);

        p {
          color: var(--text-grey);
          @include fix-font(14px, 400, 12.25px);
        }
      }

      .weather {
        img {
          padding: 2px;
          border-radius: 50%;
          border: 1px solid var(--item-color);
          @include weight_height(31px, 31px);
        }

        @include item_flex(flex, row, center, normal, 4px);

        span {
          @include item_flex(flex, column, flex-start, normal, 2px);

          ._title {
            color: var(--text-grey);
            @include fix-font(14px, 400, 12.25px);
          }

          ._text {
            color: var(--text-color);
            @include fix-font(14px, 400, 12.25px);
          }
        }
      }
    }

    button {
      border: none;
      color: var(--color-light);
      border-bottom-right-radius: 8px;
      @include weight_height(130px, 52px);
      @include fix-font(16px, 400, 14px);
      background: linear-gradient(to right, #3498db, #34506d);
    }
  }
}

@media (max-width: 400px) {
  .enrollment_container {
    @include weight_height(340px, auto);

    ._player {
      span {
        :first-child {
          @include weight_height(40px !important, 40px !important);
        }
        :nth-child(2) {
          position: absolute;
          @include weight_height(15px !important, 12px !important);
        }
      }
      ._win {
        span {
          :last-child {
            position: absolute;
            top: -34px !important;
            @include weight_height(21px, 15.89px);
          }
        }
      }
    }
  }
}
