@import "../../styles/shared/var.scss";

.groupregulations_contanier {
  padding: 24px 10px !important;
  @include block_display(16px);
  p {
    text-align: center;
    color: var(--item-color);
    @include weight_height(fill, auto);
    @include fix-font(26px, 400, 22.76px);
  }

  .groupregulations_body {
    p {
      text-align: start;
      color: var(--text-color);
      @include fix-font(16px, 400, 19.36px);
    }
  }

  .groupregulations_confirm {
    @include weight_height(fill, auto);
    @include item_flex(flex, row, flex-start, space-between, 0px);
    p {
      text-align: start;
      color: var(--text-color);
      @include fix-font(16px, 400, 19.36px);
    }

    input {
      background: none;
      @include weight_height(16px, 16px);
    }
  }

  .groupregulations_button {
    @include weight_height(fill, auto);
    @include item_flex(flex, column, flex-start, space-between, 8px);
    a {
      @include weight_height(fill, auto);
    }

    button {
      border: none;
      border-radius: 12px;
      color: #fcfcfc;
      background: linear-gradient(to left, #34506d, #3498db);
      @include weight_height(fill, auto);
      @include fix-font(18px, 400, 15.75px);
      @include content_padd(14px, 0px, 14px, 0px);
    }
    margin-bottom: 100px;
  }
}
