.navbar-container {
  background-color: var(--color-light);
  align-items: center;
  max-width: 390px;
  margin: auto;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 78px;
  z-index: 9999;

  .navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .nav-menu {
      cursor: pointer;
      background: transparent;
      border: none;
      -webkit-tap-highlight-color: transparent;

      .menu-img {
        display: flex;
        justify-content: center;

        img {
          margin: auto;
          height: 24px;
        }
      }

      p {
        color: var(--send-color);
        padding-top: 4px;
      }
    }
  }
}
