@mixin score_font($size_, $weight_, $line_) {
  font-size: $size_;
  font-weight: $weight_;
  line-height: $line_;
}

@mixin width_height($width, $height) {
  width: $width;
  height: $height;
}

@mixin margin_($marge_t, $marge_r, $marge_b, $marge_l) {
  margin-top: $marge_t;
  margin-right: $marge_r;
  margin-bottom: $marge_b;
  margin-left: $marge_l;
}

@mixin padd_($padd_t, $padd_r, $padd_b, $padd_l) {
  padding-top: $padd_t;
  padding-right: $padd_r;
  padding-bottom: $padd_b;
  padding-left: $padd_l;
}

@mixin flex_row($spaces) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spaces;
}

@mixin flex_column($spaces) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spaces;
}

.tournament-container {
  background-color: var(--bg-color);
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;

  .tournament-headers {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    width: 100%;

    .round {
      width: 300px;
      text-align: center;
      font-weight: 400;
      border-right: 1px dashed #ccc;
      margin: 0;
      padding: 1rem;
    }
  }

  .tournament-brackets {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  .bracket {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    border-right: 1px dashed var(--gray-600);
    flex: 1;
    padding-top: 50px;
    position: relative;

    .bracket-round {
      position: absolute;
      padding: 10px 0px;
      top: 4px;
      text-align: center;
      width: 100%;
      border-bottom: 1px dashed var(--gray-600);
      font-size: 18px;
      font-weight: 500;
    }

    ._main_stream {
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;
      background: var(--gray-100);
      // border-bottom-right-radius: 8px;
      // border-bottom-left-radius: 8px;
      border-radius: 8px;
    }

    ._head_c_d {
      ._stream {
        @include flex_row(0px);

        .stream_head {
          @include flex_row(0px);
          justify-content: space-between;
          @include padd_(5px, 12px, 5px, 12px);
          background: var(--gray-200);
          border: none;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
          width: 100%;
          height: auto;

          p {
            color: var(--text-color);
            @include flex_row(8px);
            @include score_font(12px, 500, 16px);

            ._live {
              color: var(--text-color);
              @include flex_row(12px);
              @include score_font(12px, 500, 16px);
            }

            ._live_item {
              color: var(--text-color);
              @include flex_row(12px);
              @include score_font(12px, 300, 16px);
            }

            span {
              color: var(--text-color);
              @include score_font(12px, 300, 16px);
            }
          }
        }
      }

      .border_top {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }

      ._live_playing {
        @include flex_row(4px);
        padding: 8px 12px;

        span {
          @include flex_row(0px);
        }

        ._profile {
          @include flex_row(8px);

          ._disable {
            color: #b0aaaa;
          }

          .profile_img {
            .im_con {
              position: relative;
              @include flex_row(0px);

              .side {
                margin-left: -2px;
              }
            }
          }

          .im_con {
            position: relative;
            @include flex_row(4px);

            .pro_img {
              @include flex_row(0px);
              position: relative;
              img {
                width: 15px;
                height: 15px;
                border-radius: 50%;
              }
              .flag {
                position: absolute;
                bottom: -2px;
                right: 0px;
                width: 8px;
                height: 5px;
                border-radius: 1px !important;
              }
            }

            span.con_svg {
              position: absolute;
              bottom: 0px;
              left: 8px;
            }
          }

          .nam_turn {
            p {
              color: var(--text-color);
              @include score_font(10px, 300, 12px);
            }
            svg {
              fill: var(--text-color);
            }

            @include flex_row(8px);
          }
        }

        .round_socre {
          @include flex_row(4px);

          ._active {
            color: var(--text-color);
          }

          p {
            @include score_font(12px, 300, 12px);
          }

          ._round {
            color: #706d7c;
            padding: 6px 10px;
          }

          ._score {
            background: #706d7c;
            color: var(--text-color);
            padding: 6px 10px;
          }
        }

        ._head_c {
          background: #6b6b6b;
        }
      }
    }
  }

  .team-item {
    padding: 6px 0px;
    width: 200px;
    display: block;
    margin: 0px 10px;
    position: relative;
    vertical-align: middle;
    line-height: 2;
    text-align: center;
  }

  .team-item:after {
    content: "";
    border-color: #b0aaaa;
    border-width: 2px;
    position: absolute;
    display: block;
    width: 9px;
    right: -11px;
  }

  .team-item:nth-of-type(odd):after {
    border-right-style: solid;
    border-top-style: solid;
    height: 100%;
    top: 50%;
  }

  .team-item:nth-of-type(even):after {
    border-right-style: solid;
    border-bottom-style: solid;
    height: 100%;
    top: -50%;
  }

  .team-item:before {
    content: "";
    border-top: 3px solid #b0aaaa;
    position: absolute;
    height: 2px;
    width: 10px;
    left: -10px;
    top: 50%;
  }

  .bracket-2 {
    .team-item:nth-of-type(odd):after {
      height: 200%;
      top: 50%;
    }
    .team-item:nth-of-type(even):after {
      height: 200%;
      top: -150%;
    }
  }

  .bracket-3 {
    .team-item:nth-of-type(odd):after {
      height: 350%;
      top: 50%;
    }
    .team-item:nth-of-type(even):after {
      height: 350%;
      top: -300%;
    }
  }

  .bracket-4 {
    .team-item:nth-of-type(odd):after {
      height: 700%;
      top: 50%;
    }
    .team-item:nth-of-type(even):after {
      height: 700%;
      top: -650%;
    }
  }

  .bracket-5 {
    .team-item:nth-of-type(odd):after {
      height: 1000%;
      top: 50%;
    }
    .team-item:nth-of-type(even):after {
      height: 1000%;
      top: -950%;
    }
  }

  .bracket-6 {
    .team-item:nth-of-type(odd):after {
      height: 2000%;
      top: 50%;
    }
    .team-item:nth-of-type(even):after {
      height: 2000%;
      top: -1950%;
    }
  }

  .bracket-7 {
    .team-item:nth-of-type(odd):after {
      height: 2500%;
      top: 50%;
    }
    .team-item:nth-of-type(even):after {
      height: 2500%;
      top: -1450%;
    }
  }

  .bracket:first-of-type {
    .team-item:before {
      display: none;
    }
  }

  .bracket:last-child {
    border-right: none;
    .team-item:after {
      display: none;
    }
  }

  .bracket:last-of-type {
    .team-item:after {
      display: none;
    }
  }
}
