@import "../../styles/shared/var.scss";

// Scss Start.
.management-container {
  padding: 45px 0;

  .topperBlock{
    @include item_flex(flex, column, start, start, 30px);
    padding: 0 20px;
  }

  .return {
    @include item_flex(flex, row, center, start, 15.75px);
    text-decoration: none;

    img {
      transform: scaleX(-1);
      display: block;
    }

    p {
      color: #b0aaaa;
      @include fix-font(18px, 400, 15.75px);
    }
  }
  .search_input {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    // margin-left: auto;
    // margin-right: 15px;
    border: 1px solid lightgray;
    border-radius: 8px;

    input[type="search"] {
      border: none;
      padding: 15px 12px;
      outline: none;
      border-radius: 10px;
      color: #B0AAAA;
      background-color: transparent;
      font-size: 14px;
      line-height: 12.25px;
      font-family: Rubik,serif;

    }

    span {
      position: absolute;
      top: 0;
      left: 15px;
      width: 16px;
      height: 16px;
      color: var(--color-light);
      bottom: 0;
      margin: auto;
      right: unset;
      display: block;

      img {
        display: block;
      }
    }
  }
  .table-container {
    margin: 18px 0;
    overflow-x: scroll;
    // color: var(--text-color);
    text-align: center;
    // padding: 0 16px;
    scrollbar-width: none;

    ::-webkit-scrollbar {
      display: none; 
    }

    table {
      border-collapse: collapse;
      // direction: ltr;
      
      thead {
        th {
          padding: 10px 18px;
          border: 0px solid var(--content-border);
          background: linear-gradient(189.11deg, rgba(71, 117, 169, 0.16) -3.79%, rgba(255, 255, 255, 0) 154.46%);
          @include fix_font(14px, 500, 12.25px);
        }
      }
      tbody {
        padding-top: 10px;

        .table-data {
          padding: 7px 10px;
          border: 1px solid var(--content-border);
          // text-align: center;

          .dateInfo{
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            flex-direction: row-reverse;
            font-size: 14px;
            line-height: 12.25px;
            font-family: Rubik,serif;
          }
          

          p{
            font-size: 14px;
            line-height: 12.25px;
            font-family: Rubik,serif;
            font-weight: 500;
            white-space: nowrap;
          }

          .edit-pen {
            color: var(--color-blue);
            font-size: 15px;
            // padding-right: 3px;
            cursor: pointer;
            display: block;

            svg{
              display: block;
            }
          }
        }
        .user-data {
          padding: 7px 20px;
          // min-width: 160px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 7px;
          min-width: 170px;
          cursor: pointer;

          .user-imgs{
            position: relative;
            width: 34px;
            height: 34px;
            box-sizing: border-box;
            border: 0.8px solid #145E94;
            border-radius: 50%;
            padding: 1.5px;

            .user-img {
              border-radius: 50%;
              display: block;
              width: 100%;
            }

            .country-img {
              position: absolute;
              bottom: -1px;
              right: -1px;
              display: block;
              max-width: 16px;
            }

          }

          // .user-info {
          //   position: absolute;
          //   top: 50%;
          //   transform: translateY(-50%);
          //   right: 10px;

          //   .user-imgs {
          //     position: relative;
          //     width: 30px;
          //     height: 35px;
          //     .user-img {
          //       width: 30px;
          //       height: 30px;
          //       border-radius: 50%;
          //     }
          //     .country-img {
          //       position: absolute;
          //       bottom: 5px;
          //       right: 4px;
          //       padding: 0px;
          //       width: 14px;
          //       height: 14px;
          //     }
          //   }
          // }
        }
      }
    }
  }
  .button {
    display: block;
    // width: 90%;
    padding: 16px 20px;
    border-radius: 10px;
    cursor: pointer;
    // align-items: center;
    color: #fff;
    background: linear-gradient(270deg,#34506d,#3498db);
    max-width: 100%;
    margin: 0 20px;
    width: 100%;
    font-size: 16px;
    line-height: 14px;
    border: 0;
  }
}
