@import "../../styles/shared/var.scss";

.pass_container{
    padding: 20px 15px 15px;

    h2{
      font-size: 18px;
      line-height: 15.75px;
      text-align: center;
      font-weight: 400;
      color: #000000;
      padding-bottom: 20px;
    }
}
