@import "../../styles/shared/var.scss";

.pass_container{
    padding: 20px 15px 15px;
    background: #FFFFFF;
    border: 1px solid lightgray;
    width: 360px;
    border-radius: 12px;
    box-sizing: border-box;

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    h2{
      font-size: 18px;
      line-height: 15.75px;
      text-align: center;
      font-weight: 400;
      color: #000000;
      padding-bottom: 20px;
    }

    span{
        width: 100%;
        display: block;
        @include item_flex(flex, column, flex-start, normal, 12px);

        input{
          outline: none;
          background: none;
          padding: 0px 8px;
          border-radius: 8px;
          border: 1px solid lightgray;
          color: #B0AAAA;
          @include weight_height(100%, 37px);
          font-size: 16px;
          line-height: 14px;
        }

        a {
          width: 100%;
          height: auto;

          button {
            border: none;
            background: linear-gradient(270deg,#34506d,#3498db);
            border-radius: 12px;
            padding: 14px 0;
            text-align: center;
            color: #fcfcfc;
            font-size: 16px;
            font-weight: 400;
            line-height: 14px;
            width: 100%;
            height: auto;
          }
        }
    }
}
