@import "../../../styles/shared/var.scss";

.double_container{
    width: 100%;

    .container{
        width: 360px;
        margin: auto;
        background-color: #fff;
        border-radius: 12px;
        border: 1px solid lightgray;

        .head{
            @include item_flex(flex, column, start, normal, 7px);
            padding: 16px 20px;
            border-bottom: 1px solid lightgray;

            p{
                @include fix-font(16px, 400, 14px);
            }

            .day_time{
                @include item_flex(flex, row, center, normal, 9px);

                span{
                    @include item_flex(flex, row, center, normal, 5px);

                    p{
                        @include fix-font(14px, 400, 12.25px);
                        color: #B0AAAA;
                    }
                }
            }
        }

        .body{
            padding: 15px;
            @include item_flex(flex, row, center, center, 13px);

            .myteam{
                @include item_flex(flex, row, center, center, 11px);

                ._player{
                    max-width: 57px;

                    span{
                        position: relative;
                        width: 100%;
                        height: 57px;
                        border: 1px solid #145E94;
                        padding: 3px;
                        border-radius: 50%;

                        .profileImg{
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}