@import "../../../styles/shared/var.scss";

.double_container{
    width: 100%;

    .container{
        width: 360px;
        margin: auto;
        background-color: #fff;
        padding: 16px 20px;
        border-radius: 12px;
        border: 1px solid lightgray;

        .head{
            @include item_flex(flex, column, start, normal, 7px);

            p{
                @include fix-font(16px, 400, 14px);
            }

            .day_time{
                @include item_flex(flex, row, center, normal, 9px);

                span{
                    @include item_flex(flex, row, center, normal, 5px);

                    p{
                        @include fix-font(14px, 400, 12.25px);
                        color: #B0AAAA;
                    }
                }
            }
        }
    }
}