@import "../../../styles/shared/var.scss";

.gamestory_container {
  box-sizing: border-box;
  background: var(--bg-color);
  @include weight_height(390px, 930px);

  .headimage_content {
    position: relative;

    img {
      @include weight_height(fill, 300px);
    }

    .content {
      position: absolute;
      top: 0px;
      @include weight_height(fill, fill);
      @include content_padd(54px, 24px, 84px, 24px);
      @include item_flex(flex, column, center, space-between, 0px);

      .menu_go {
        @include weight_height(fill, auto);
        @include item_flex(flex, row, center, space-between, 0px);
      }

      img {
        @include weight_height(188.58px, 79.04px);
      }
    }
  }

  .gamestory_body {
    position: relative;
    top: -56px;
    @include block_display(16px);
    padding: 0px;

    .head_body {
      border-radius: 12px;
      background: var(--item-bg);
      border: 1px solid var(--content-border);
      @include weight_height(fill, auto);
      @include item_flex(flex, column, flex-start, normal, 0px);

      .head {
        border-bottom: 1px solid var(--content-border);
        @include weight_height(fill, auto);
        @include content_padd(12px, 24px, 16px, 24px);
        @include item_flex(flex, column, flex-start, normal, 8px);

        p {
          color: var(--text-color);
          @include fix_font(18px, 400, 15.75px);
        }

        .time_date {
          @include weight_height(fill, auto);
          @include item_flex(flex, row, center, normal, 12px);

          p {
            color: var(--text-color);
            @include fix_font(16px, 400, 14px);
          }
        }
      }

      .body {
        @include weight_height(fill, auto);
        @include content_padd(8px, 0px, 8px, 0px);
        @include item_flex(flex, row, center, space-between, 0px);

        .body_content {
          @include weight_height(77px, auto);
          @include content_padd(12px, 28px, 8px, 28px);
          @include item_flex(flex, column, center, normal, 12px);

          :first-child {
            color: var(--item-color);
            @include fix_font(14px, 400, 12.25px);
          }

          :nth-child(2) {
            color: var(--text-color);
            @include fix_font(16px, 400, 14px);
          }
        }

        ._border {
          border-right: 1px solid var(--content-border);
          border-left: 1px solid var(--content-border);
          @include content_padd(12px, 16px, 8px, 16px);
        }
      }
    }

    .feature_body {
      border-radius: 12px;
      border: 1px solid var(--content-border);
      background: var(--item-bg);
      @include weight_height(fill, auto);
      @include item_flex(flex, column, flex-start, normal, 12px);

      .head_content {
        padding-bottom: 12px;
        padding: 12px;
        border-bottom: 1px solid var(--content-border);
        @include weight_height(fill, auto);

        .content {
          @include weight_height(fill, auto);
          @include item_flex(flex, row, center, normal, 44px);

          :first-child {
            color: var(--text-color);
            @include fix_font(14px, 400, 12.25px);
          }

          :nth-child(2) {
            color: var(--text-color);
            @include fix_font(18px, 400, 15.75px);
          }
        }
      }

      .body_content {
        @include weight_height(fill, auto);
        @include content_padd(0px, 12px, 0px, 12px);
        @include item_flex(flex, row, center, space-between, 4px);

        .my_team {
          @include item_flex(flex, row, center, space-between, 0px);

          ._me {
            @include item_flex(flex, column, center, normal, 4px);

            .player_profile {
              position: relative;

              :first-child {
                padding: 2px;
                border-radius: 50%;
                border: 1px solid var(--item-color);
                @include weight_height(53px, 53px);
              }

              :nth-child(2) {
                position: absolute;
                bottom: 5px;
                right: 6px;
                @include weight_height(21px, 15.89px);
              }
            }

            .name_text {
              color: var(--text-color);
              @include fix_font(14px, 400, 12.25px);
            }

            .rancking_text {
              color: var(--text-grey);
              @include fix_font(12px, 400, 10.5px);
            }

            ._name {
              position: normal;
              @include item_flex(flex, row, center, normal, 4px);

              img {
                @include weight_height(12px, 12px);
              }

              p {
              }
            }
          }

          ._teamate {
            @include item_flex(flex, column, center, normal, 4px);

            .player_profile {
              position: relative;

              :first-child {
                padding: 2px;
                border-radius: 50%;
                border: 1px solid var(--item-color);
                @include weight_height(53px, 53px);
              }

              :nth-child(2) {
                position: absolute;
                bottom: 5px;
                right: 6px;
                @include weight_height(21px, 15.89px);
              }
            }

            .name_text {
              color: var(--text-color);
              @include fix_font(14px, 400, 12.25px);
            }

            .rancking_text {
              color: var(--text-grey);
              @include fix_font(12px, 400, 10.5px);
            }
          }
        }

        svg {
          padding: 8px;
          border-radius: 43px;
          position: relative;
          top: -16px;
          right: -3px;
          border: 1px solid var(--content-border);

          path {
            fill: var(--text-color);
          }
        }
      }

      .bottom_content {
        @include weight_height(fill, auto);
        @include content_padd(0px, 12px, 12px, 12px);
        @include item_flex(flex, row, center, space-between, 0px);

        ._content {
          border-radius: 8px;
          border: 1px solid var(--content-border);
          @include weight_height(132px, auto);
          @include content_padd(0px, 0px, 0px, 8px);
          @include item_flex(flex, row, center, space-between, 0px);

          :first-child {
            color: var(--text-grey);
            border-right: 1px solid var(--content-border);
            @include fix_font(14px, 400, 12.25px);
            @include content_padd(6px, 8px, 6px, 8px);
          }

          :nth-child(2) {
            color: var(--text-color);
            @include fix_font(14px, 400, 12.25px);
          }
        }
      }
    }

    .body_bottom {
      background: var(--item-bg);
      border-radius: 12px;
      border: 1px solid var(--content-border);

      .bottom_head {
        border-bottom: 1px solid var(--content-border);
        @include item_flex(flex, row, center, normal, 0px);

        p {
          color: var(--item-color);
          padding: 8px 0px;
          border-right: 1px solid var(--content-border);
          @include weight_height(35px, auto);
          @include fix_font(14px, 400, 12.25px);
          @include item_flex(flex, row, center, center, 0px);
        }
      }

      .bottom_s_body {
        @include item_flex(flex, row, center, normal, 0px);

        .item {
          @include item_flex(flex, row, center, normal, 0px);

          p {
            color: var(--text-color);
            padding: 13px 0px;
            border-right: 1px solid var(--content-border);
            @include weight_height(35px, auto);
            @include fix_font(16px, 400, 12.25px);
            @include item_flex(flex, row, center, center, 0px);
          }
          :last-child {
            color: var(--text-color);
            padding: 12px 0px;
            border-right: 1px solid var(--content-border);
            @include weight_height(35px, auto);
            @include fix_font(16px, 500, 14px);
            @include item_flex(flex, row, center, center, 0px);
          }
        }

        span {
          p {
            padding: 4px 4px;
            color: var(--item-color);
            @include fix_font(14px, 400, 12.25px);
          }
        }
      }
    }

    .all_button {
      @include weight_height(fill, auto);
      @include item_flex(flex, column, center, normal, 12px);

      span {
        @include weight_height(fill, auto);
        @include item_flex(flex, row, center, normal, 12px);

        a {
          text-decoration: none;
          button {
            cursor: pointer;
            @include weight_height(fill, auto);
            @include item_flex(flex, row, center, center, 4px);

            svg {
              @include weight_height(14px, 14px);

              path {
                stroke: "white";
              }
            }

            @include fix_font(16px, 400, 14px);
          }
        }
      }

      a {
        border-radius: 8px;
        border: 1px solid var(--color-blue);
        @include weight_height(fill, auto);

        :hover {
          border-radius: 6px;
          color: #ffffff;
          background: linear-gradient(to left, #34506d, #3498db);
        }

        button {
          border: none;
          cursor: pointer;
          background: none;
          padding: 12px 0px;
          color: #ffffff;
          background: linear-gradient(to left, #34506d, #3498db);
          @include weight_height(fill, auto);
          @include fix_font(16px, 400, 14px);
        }
      }
    }
  }
}

.isrtl {
  .head {
    align-items: flex-end !important;
  }
  .head,
  .time_date {
    width: auto !important;
    align-items: flex-end !important;
  }
}
